<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smile Plaza Dental Center</title>
	<!---custom css link---->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="png" href="img/Logo.png">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

	<!----header design--->
	<header>
		<img src="img/Logo.png" class= "logo">
		<!--LOGO NA NGIPIN: <img src="img/logo2.png" class= "logo">-->

		<ul class="navlist">
			<li><a href="#home">Home</a></li>
			<li><a href="#aboutus">About Us</a></li>
			<li><a href="#treatments">Treatments</a></li>
			<li><a href="#announcement">Announcements</a></li>
			<li><a href="#contact">Contact</a></li>
            <li><a href="#appointment">Appointment</a></li>
			
		</ul>

		<div class="bx bx-menu" id="menu-icon"></div>
	</header>

	<!----home section design--->
	<section class="home" id="home">
		<div class="home-text">
			<div class="slide">
				<span class="one">Welcome</span>
				<span class="two">to</span>
			</div>
			<h1>Smile Plaza <br>Dental Center</h1>
			<h3><span class="input"></span></h3>
			<div class="button">
				<a href="#contact" class="btn">Contact Us</a></link>
			</div>
		</div>
		<div class="home-img">
			<img src="img/Logo.png">
		</div>	
		
	</section>

	<!----about us section design--->
	<section class="aboutus" id="aboutus">
		<div class="aboutus-img">
			<img src="img/dental.png">
		</div>

		<div class="aboutus-text">
			<h2>About <span>Us</span></h2>
			<!--<h4>Text Text</h4>-->
			<br>
			<p>		Welcome to Smile Plaza Dental Center, where your smile is our top priority.
				We are a leading dental practice dedicated to providing high-quality, 
				compassionate, and personalized dental care to our valued patients. With a
				commitment to excellence and a passion for improving oral health, we take pride
				in helping you achieve a bright and healthy smile.
			</p>
			<a href="https://www.facebook.com/smileplazaDC" target = "_blank" class="btn">More About</a>
		</div>
	</section>

	<!----organizational chart section design--->
	<section>
		<div class="main-text">
			<p>Smile Plaza Dental Center</p>
			<h2><span>Dentists</span></h2>
		</div>

		<div class="org-content">
			<div class="box">
				<!--Image ng Employee-->
				<div class="dentist-img">
					<img src="img/dentist2.png">
				</div>
				<h3>Dr. Jeanne Katheryn Bravo</h3>
				<p>Description Description Description Description Description Description</p>
			</div>

			<div class="box">
				<div class="dentist-img">
					<img src="img/dentist2.png">
				</div>
				<h3>Dr. Jeanne Katheryn Bravo</h3>
				<p>Description Description Description Description Description Description</p>
			</div>

			<div class="box">
				<div class="dentist-img">
					<img src="img/dentist2.png">
				</div>
				<h3>Dr. Jeanne Katheryn Bravo</h3>
				<p>Description Description Description Description Description Description</p>
			</div>
		</div>
	</section>

	<!----treatment section design--->
	<section class="treatments" id="treatments">
		<div class="main-text">
			<p>Smila Plaza Dental Center</p>
			<h2><span>Treatments</span></h2>
		</div>

		<div class="portfolio-content">
			<div class="row">
				<img src="img/dentalconsultation.png">
				<div class="layer">
					<h5>Dental Consultation</h5>
					<p>Meet with the dentist and have your teeth and mouth checked to discuss your oral health concerns and needs. </p>
				</div>
			</div>
			<div class="row">
				<img src="img/orthodontics.png">
				<div class="layer">
					<h5>Orthodontics</h5>
					<p>Say goodbye to your misaligned teeth and jaw issues with braces (orthodontic treatment) and achieve a beautifully aligned and healthy smile. </p>
				</div>
			</div>
			<div class="row">
				<img src="img/teethcleaning.png">
				<div class="layer">
					<h5>Oral Prophylaxis</h5>
					<p>Dental cleaning paves the way for a lifetime of confident smiles, by preventing cavities, gum diseases, and bad breath.</p>
				</div>
			</div>
			<div class="row">
				<img src="img/toothrestoration.png"> 
				<div class="layer">
					<h5>Tooth Restoration</h5>
					<p>Don't let dental issues hold you back. A variety of tooth restoration treatments will help you revive your broken teeth.</p>
				</div>
			</div>
			<div class="row">
				<img src="img/toothextraction.png">
				<div class="layer">
					<h5>Tooth Extraction</h5>
					<p>In certain situations, extraction becomes the solution to prevent complications or alleviate pain and discomfort.</p>
				</div>
			</div>
			<div class="row">
				<img src="img/odontectomy.png">
				<div class="layer">
					<h5>Odontectomy</h5>
					<p>Wisdom teeth may not always be wise hence, surgical odontectomy can be essential. This specialized procedure targets impacted or troublesome wisdom teeth, ensuring a pain-free smile experience.</p>
				</div>
			</div>
			<div class="row">
				<img src="img/denture.png">
				<div class="layer">
					<h5>Dentures</h5>
					<p>Choose dentures to complete your natural smile. Go for a full smile restoration or a partial dentures to fill in the gap. </p>
				</div>
			</div>

		</div>
	</section>

	<!----announcement section design--->
	<section class="announcement" id="announcement">
		<div class="announcements">
			<span style="--i:1;"><img src="" alt=""></span>
			<span style="--i:2;"><img src="img/1.png" alt=""></span>
			<span style="--i:3;"><img src="img/ann2.png" alt=""></span>
			<span style="--i:4;"><img src="img/ann3.png" alt=""></span>
			<span style="--i:5;"><img src="img/ann4.png" alt=""></span>
			<span style="--i:6;"><img src="img/ann5.png" alt=""></span>
			<span style="--i:7;"><img src="img/ann6.png" alt=""></span>
			<span style="--i:7;"><img src="img/ann7.png" alt=""></span>
			<span style="--i:8;"><img src="img/ann8.png" alt=""></span>
		</div>
	</section>

	<!----contact section design--->
	<section class="contact" id="contact">
		<div class="contact-text">
			<h2>Contact Us</h2>
			<h4>Visit us for consultation!</h4>
			<p>Smile Plaza Dental Center is ready to cater to your dental needs. Ensuring your smile is at its best, and providing a comfortable and rewarding dental experience.</p>
			<div class="list">
				<li><a href="#"><span><img src=""></span>0932 737 3878</a></li>
				<li><a href="#">smileplazadental2020@gmail.com</a></li>
				<li><a href="#">Nadres St., Poblacion, Candelaria, Quezon</a></li>
			</div>

			<div class="contact-icons">
				<a href="https://www.facebook.com/smileplazaDC" target="_blank"><i class='fa fa-facebook-f' ></i></a>
				<a href="https://maps.app.goo.gl/792nLswoVTeMA8ZG7" target = "_blank"><i class='fa fa-map-marker' ></i></a>
				<a href="#contact" ><i class='fa fa-envelope'></i></a>
			</div>
		</div>

		<div class="contact-form">
			<form action="">
				<input type="name" placeholder="Your Name" required>
				<input type="email" placeholder="Your Email Address" required>
				<input type="" placeholder="Your Mobile Number" required>
				<textarea name="" id="" cols="35" rows="10" placeholder="How Can We Help You" required></textarea>
				<input type="submit" value="Send Message" class="submit" required>
			</form>
		</div>
	</section>

	<!----appointment section design--->
	<section class="appointment" id="appointment">
		<div class="login">
			<h1>Visit Us!</h1>
			<p>
				<br>
				Discover the path to your most radiant smile at Smile Plaza Dental Center. 
				<br>Schedule your appointment today and let us help you achieve the healthy, </br> 
				glowing grin you deserve!</p>
				<br><br>
			<div class="button">
				<a href="LogIn/login2.html" target = "_blank" class="btn">Schedule an Appointment</a>
			</div>
		</div>
		<div class="sched-img">
			<img src="img/sched-app.png">
		</div>
	</section>

	<!----end section design--->
	<section class="end">
		<div class="last-text">
			<p>Copyright © 2023 by Smile Plaza Dental Clinic Center All Rights Reserved.</p>
		</div>

		<div class="top">
			<a href="#home"><i class='bx bx-up-arrow-alt' ></i></a>
		</div>
	</section>
	
	<script src="https://unpkg.com/scrollreveal"></script>
	<!---custom js link--->
	<script type="text/javascript" src="js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
	<script> var typed = new Typed(".input",{
		strings:["Family Dentist","General Dentistry","Orthodontics"],
		typeSpeed: 120,
		backSpeed: 110,
		loop: true
	})
	</script>

</body>
</html>